<ul>
  <li>Full access to all premium posts</li>
  <li>Weekly email newsletter</li>
  <li>Support independent publishing</li>
  <li>Simple, secure card payment</li>
  <li>One easy payment instead of 12!</li>
  <li>No advertising</li>
</ul>