@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400italic,500,600,700,800,900&subset=all');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900,700,300,300italic,400italic,900italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap');
@import 'theme/mixins';
@import 'theme/navigation';
@import 'theme/footer';
@import 'theme/dropdowns';
@import 'theme/tags';
@import 'theme/posts';
@import 'theme/spinner';
@import 'theme/header';
@import 'theme/location';
@import 'theme/weather';
@import 'theme/widget';
@import 'theme/author';
@import 'theme/buttons';
@import 'theme/lists';
@import 'theme/koenig';
@import 'theme/forms';
@import 'theme/cards';
@import 'theme/alerts';
@import 'theme/membership';
@import 'theme/utilities';

html {
	-webkit-font-smoothing: antialiased;
	@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
		only screen and (min-device-pixel-ratio: 1.25),
		only screen and (min-resolution: 200dpi),
		only screen and (min-resolution: 1.25dppx) {
		-webkit-font-smoothing: subpixel-antialiased;
	}
}

body {
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: 'lnum' 1;
	-moz-font-feature-settings: 'lnum=1';
	-ms-font-feature-settings: 'lnum' 1;
	-o-font-feature-settings: 'lnum' 1;
	-webkit-font-feature-settings: 'lnum' 1;
	font-feature-settings: 'lnum' 1;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.no-scroll {
	overflow: hidden;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
	&.container-content {
		flex: 1 0 auto;
		@media (max-width: 767px) {
			width: 100%;
		}
	}
	@media (max-width: 768px) {
		width: 100%;
	}
}

.menu-visible {
	@media (max-width: $grid-float-breakpoint) {
		background-color: #9a9a9a;
	}
}
